text {
    font-family: Monaco;
    font-size: 14px;
    font-style: normal;
}

.reference-seq {
    fill: black;
}

.coverage-rect {
    fill: blue;
}

.underlay {
    fill: transparent;
    stroke-width: 0px;
}

svg {
    border: 1px solid gray;
}
